* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 26px;
}

.navbar {
  background-color: beige;
  padding: 4vh;
  background-image: url("../img/bg-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar ul {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(7, 1fr);
  list-style: none;
}

.heading{
  background: red;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
}

.main {
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-color: white;
  text-align: center;
  height: 64vh;
}

.footer {
  padding-top: 5vh;
  background-color: rgba(115, 99, 84, 0.551);
  text-align: center;
}
.para {
  font-size: 2.5vh;
  padding: 20px;
}

.grid-1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: rgba(176, 174, 174, 0.831);
}
