<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bachelor of Computer Applications</title>
    <link rel="stylesheet" type="text/css" href="../static/css/home.css" />
  </head>
  <body>
    <nav class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <!--home will be replaced by logo-->
        <li><a href="/about">About</a></li>
        <li><a href="/contact-us">Contact us</a></li>
        <li><a href="/student-cornner">Student Cornner</a></li>
        <li><a href="/faculty">Faculty</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <!-- Add other navigation links as needed -->
      </ul>
    </nav>
    <div class="main">
      <h1>main content</h1>
    </div>
    <div class="footer">
      <h1>footer</h1>
    </div>
  </body>
</html>
