<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bachelor of Computer Applications</title>
    <link rel="stylesheet" type="text/css" href="../static/css/home.css" />
  </head>
  <body>
    <nav class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <!--home will be replaced by logo-->
        <li><a href="/about">About</a></li>
        <li><a href="/contact-us">Contact us</a></li>
        <li><a href="/student-cornner">Student Cornner</a></li>
        <li><a href="/faculty">Faculty</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <!-- Add other navigation links as needed -->
      </ul>
    </nav>
    <div class="main">
      <div>
      <img src="../static/img/logo-bca.webp">
      </div>
      <h1 class="heading">SOBHAN SINGH JEENA UNIVERSITY,ALMORA</h1>
      <h5>LAXMAN SINGH MAHAR PG COLLEGE,PITHORAGARH</h5>
      <h6>Bachelor Of Computer Applications</h6>
      <div class="grid-1"><p class="para">
        Welcome to Soban Singh Jeena University
Soban Singh Jeena University (hereafter referred to as SSJ University), Almora, a residential cum affiliating University, came into existence on 14 August, 2020,vide notification No. 168/XXXVI(3)/2020/77/2019 dated June 22, 2020 under the Uttarakhand Act No. 19 of 2020,as a result of persistent demands from the residents of the interior regions for a seperate University. It was carved out of Kumaun University,Nainital of which it had been a campus for more than four decades, with colleges of districts Almora, Bageshwar, Champawat and Pithoragarh falling under its jurisdiction. It has been named after renowned lawyer turned political leader and social reformer of the region, Sri Soban Singh Jeena.
      </p>
      <div class="img">
        <img src="../static/img/logo-bca.webp" alt="img">
      </div>
    </div>
    </div>

  </body>
</html>
